<div class="results">
  <!-- <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a> -->
  <div class="row">
    <div class="input-field col s1">
      <a href="/home" title="{{title}}"><img src="/images/mammoth-icon.png" alt="{{title}}" style="width:50px;height:auto;margin-top:6px;"></a>
    </div>
    <form action="/results">
      <div class="input-field col s9">
        <i class="material-icons prefix white-text">search</i>
        <input placeholder="Search&hellip;" id="query" name="query" type="search">
        <!-- <label for="query">Search</label> -->
      </div>
      <div class="input-field col s2" style="padding-left:4rem"><button class="waves-effect waves-light btn-large grey darken-4">Search</button></div>
    </form>
  </div>
  <ul id="side-nav" class="side-nav fixed grey darken-4">
    {{#if gravatar}}<div class="center-align section"><img class="circle" src="{{gravatar}}" alt="{{username}}"><br><h5 class="white-text">{{username}}</h5></div>{{/if}}
    <li><a href="#videosBlock" class="white-text">Videos</a></li>
    <li><a href="#newsBlock" class="white-text">News</a></li>
    <li><a href="#socialBlock" class="white-text">Social</a></li>
    <li><a href="#shoppingBlock" class="white-text">Shopping</a></li>
  </ul>
</div>

<div class="grey lighten-4">

  <h1 class="center-align">{{title}}</h1>

{{#if results.videos}}
  <div id="videosBlock" class="row scrollspy">
      <h2>Videos</h2>
      <div class="row">
        {{#each results.videos}}
        <div class="col s12 m6 l6">
          <div class="card">
              <iframe width="320" height="239" src="{{media}}" frameborder="0" allowfullscreen></iframe>
            <div class="right" style="width:50%;">
              <div class="card-content">
                <p>{{{desc}}}</p>
              </div>
              <div class="card-action">
                <a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}

  <div class="row">
  {{#if results.news}}
    <div id="newsBlock" class="col s12 m12 l4 scrollspy">
      <h2>News</h2>
      <ul class="collection">
      {{#each results.news}}
        <li class="collection-item avatar">
          <i class="material-icons medium circle">album</i>
          <span class="title"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></span>
          <p>{{desc}}</p>
          <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
        </li>
      {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if results.social}}
    <div id="socialBlock" class="col s12 m12 l4 scrollspy">
      <h2>Social</h2>
      <ul class="collection">
        {{#each results.social}}
          <li class="collection-item avatar">
            <a href="{{userUrl}}" title="{{card}}" target="_blank"><img class="circle" src="{{img}}" alt="{{card}}"></a>
            <span class="title"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></span>
            <p>{{{desc}}}</p>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
          </li>
        {{/each}}
        </ul>
    </div>
  {{/if}}
  {{#if results.shopping}}
    <div id="shoppingBlock" class="col s12 m12 l4 scrollspy">
      <h2>Shopping</h2>
      <ul class="collection">
        {{#each results.shopping}}
          <li class="collection-item avatar">
            <a href="{{url}}" title="{{title}}" target="_blank"><img class="circle" src="{{thumbnail}}" alt="{{title}}"></a>
            <span class="title"><a href="{{url}}" title="{{title}}" target="_blank">{{title}}</a></span>
            <p>{{desc}}<br><strong>&pound;{{priceInt}}</strong></p>
            <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
          </li>
        {{/each}}
        </ul>
    </div>
  {{/if}}
  </div>

</div>      
