<nav>
  <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
  <ul class="left hide-on-med-and-down">
  <li><a href="#!">Logo</a></li>
  <div class="row">
    <form action="/results">
      <div class="input-field col s10">
        <i class="material-icons prefix white-text">search</i>
        <input placeholder="Search&hellip;" id="query" name="query" type="search">
        <!-- <label for="query">Search</label> -->
      </div>
      <div class="input-field col s2" style="padding-left:4rem"><button class="waves-effect waves-light btn-large grey darken-4">Search</button></div>
    </form>
  </div>
  </ul>
  <ul id="slide-out" class="side-nav grey darken-4">
  <li><a href="#!" class="white-text">First Sidebar Link</a></li>
  <li><a href="#!" class="white-text">Second Sidebar Link</a></li>
  </ul>
</nav>

<div class="grey lighten-4">

  <h1>{{title}}</h1>

  <div class="row">
  {{#if results.news}}
    <div class="col s12 m12 l4">
      <h2>News</h2>
      <ul class="collection">
      {{#each results.news}}
        <li class="collection-item avatar">
          <i class="material-icons medium circle">album</i>
          <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
          <p>{{desc}}</p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
      {{/each}}
      </ul>
    </div>
  {{/if}}
  {{#if results.social}}
    <div class="col s12 m12 l4">
      <h2>Social</h2>
      <ul class="collection">
        {{#each results.social}}
          <li class="collection-item avatar">
            <a href="{{userUrl}}" title="{{card}}"><img class="circle" src="{{img}}" alt="{{card}}"></a>
            <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
            <p>{{{desc}}}</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        {{/each}}
        </ul>
    </div>
  {{/if}}
  {{#if results.shopping}}
    <div class="col s12 m12 l4">
      <h2>Shopping</h2>
      <ul class="collection">
        {{#each results.shopping}}
          <li class="collection-item avatar">
            <a href="{{url}}" title="{{title}}"><img class="circle" src="{{thumbnail}}" alt="{{title}}"></a>
            <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
            <p>{{desc}}<br><strong>&pound;{{priceInt}}</strong></p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        {{/each}}
        </ul>
    </div>
  {{/if}}
  </div>

</div>      
