<h1>{{title}} Results</h1>


    <div class="row">
      <div class="col s4">
        <h2>News</h2>
        <ul class="collection">
        {{#each results.news}}
          <li class="collection-item avatar">
            <i class="material-icons medium">album</i>
            <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
            <p>{{desc}}</p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        {{/each}}
        </ul>
      </div>
      <div class="col s4">
        <h2>Social</h2>
        <ul class="collection">
          {{#each results.social}}
            <li class="collection-item avatar">
              <a href="{{userUrl}}" title="{{card}}"><img src="{{img}}" alt="{{card}}"></a>
              <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
              <p>{{desc}}</p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          {{/each}}
          </ul>
      </div>
      <div class="col s4">
        <h2>Shopping</h2>
        <ul class="collection">
          {{#each results.shopping}}
            <li class="collection-item avatar">
              <i class="material-icons medium">album</i>
              <span class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></span>
              <p>{{desc}}</p>
              <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
          {{/each}}
          </ul>
      </div>
    </div>
          



